# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.pytest_cache/

# Environments
.venv/
env/
venv/
ENV/

# Data & Models
*.csv
*.joblib
*.pkl
models/

# Environment variables
.env

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
